Checks: |
  -*
  bugprone-suspicious-memset-usage
  bugprone-unchecked-optional-access
  bugprone-undefined-memory-manipulation
  bugprone-unused-raii
  bugprone-use-after-move
  performance-unnecessary-copy-initialization
  modernize-loop-convert
  google-readability-casting

WarningsAsErrors: "*"
UseColor: true
