          ____________________________________________________
12:04:56 .                         .               o          . 250
12:04:56 .                         .          o               . 200
12:04:56 .                         .    o                     . 150
12:04:56 .                         .o                         . 100
12:04:56 .                      o  .                          . -75
12:04:56 .                      o  .                          . -75
12:04:56 .                       o .                          . -50
12:04:56 .                         o                          . 0
12:04:56 .                         .       o                  . 100
12:04:56 .                         .      o                   . 95
12:04:56 .                         .    o                     . 80
12:04:56 .                         .             o            . 225
12:04:56 .                         .                   o      . 275
12:04:56 .                         .                        o . 300
12:04:56 .                         .                          o 300
12:04:56 .                         .                        o . 300
         ._________________________0__________________________.
       -500                                                  500
