# This job pushes tagged releases to flakehub.

name: Flakehub

on:
  push:
    tags:
      - v?[0-9]+.[0-9]+.[0-9]+*
  workflow_dispatch:
    inputs:
      tag:
        description: The existing tag to publish to FlakeHub
        type: string
        required: true

jobs:
  flakehub-publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ (inputs.tag != null) && format('refs/tags/{0}', inputs.tag) || '' }}
      - uses: DeterminateSystems/nix-installer-action@v16
        with:
          determinate: true
      - uses: DeterminateSystems/flakehub-cache-action@04eb56b73c2de9e098015ec61db998329962ed34
      - uses: DeterminateSystems/flakehub-push@v5
        with:
          visibility: public
          name: bpftrace/bpftrace
          tag: ${{ inputs.tag }}
          include-output-paths: true
